* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
  background: #efeeee;
  display: flex;
  justify-content: center;
  align-items: center;
}

#app-container {
  width: 70%;
  padding: 50px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  box-shadow: 6px 6px 16px 0 rgb(217 210 200),
    -6px -6px 26px 0 rgba(255, 255, 255, 0.83);
}

.edit-form-container {
  text-align: center;
  color: #2196f3;
}

.editor-form {
  display: flex;
  flex-direction: column;
}

.form-row-left {
  margin-bottom: 10px;
}

.form-row-right {
  float: right;
  margin-bottom: 10px;
}

#todo-text {
  width: 100%;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 6px 6px 16px 0 rgb(217 210 200),
    -6px -6px 26px 0 rgba(255, 255, 255, 0.83);
}

#add-todo-button {
  color: #2196f3;
  margin: 10px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 6px 6px 16px 0 rgb(217 210 200),
    -6px -6px 26px 0 rgba(255, 255, 255, 0.83);
}

#clear-form-button {
  color: #2196f3;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 6px 6px 16px 0 rgb(217 210 200),
    -6px -6px 26px 0 rgba(255, 255, 255, 0.83);
}

.todo-list-container > h1 {
  text-align: center;
  color: #2196f3;
}

.empty-list {
  color: red;
}

.item {
  border: 1px dotted gray;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 10px;
}

.item > h3 {
  font-weight: 400;
}

.info-block {
  display: flex;
}

.status-panel {
  flex-grow: 4;
}

.created-date-panel {
  flex-grow: 1;
  text-align: right;
}

.done-date-panel {
  flex-grow: 1;
  text-align: right;
}

.control-block {
  text-align: right;
}

.view-button {
  width: 125px;
  color: aquamarine;
}

.back-to-list-button {
  width: 125px;
  color: orangered;
}

.postpone-button {
  width: 125px;
  color: orange;
}

.resume-button {
  width: 125px;
  color: green;
}

.delete-button {
  width: 125px;
  color: red;
}

.done-button {
  width: 125px;
  color: blue;
}

#total-counter-text {
  color: black;
  padding-right: 5px;
}

#total-counter-number {
  color: blueviolet;
}
